.MiniCategories{
    display: flex;
    flex:9;
    flex-direction:column;
    width:85%;
    border:2px solid rgb(93, 93, 206);
    margin:25px;
    border-radius: 10px;
    display:none;
}

.MiniCategoriesHeader{
    align-self:center;
    padding:9px;
    margin:9px;
    border:2px solid rgb(125, 41, 194);
    font-family:"Josefin Sans", sans-serif;
    border-radius:10px;
    letter-spacing: 1px;
    margin-top:20px;
    margin-left:29%;
    width:40%;
    font-size:12px;
}

.MiniCategoriesListItem{
    list-style-type:none;
    font-family:"Josefin Sans", sans-serif;
    margin:10px;
    padding:10px;
    /* font-size:13px; */
    border:2px solid rgb(125, 41, 194);
    border-radius:10px;
    width: 60%;
    font-size:11px;
    align-self:center;
}

.MiniCategoriesList{
    /* border:2px solid green; */
    padding:5px;
    display:flex;
    flex-direction:column; 
    flex-wrap:wrap;
    height:270px;
    padding-left: 2%;
    margin-bottom:10px;
}

@media(max-width:600px)
{
  .MiniCategories{
    display:block;
  }
}